<% include ../partials/header.ejs %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead"></p>
			<div class="list-group">
				<li class="list-group-item active">Info1</li>
				<li class="list-group-item">Info2</li>
				<li class="list-group-item">Info3</li>
			</div>
		</div>
		<div class="col-md-9">
			<h1><%= bet.homeTeamName %> vs <%= bet.awayTeamName %></h1>
			<div class="thumbnail">
				<img class="img-responsive" src="<%= bet.imageURL %>">
				<div class="caption-full">
					<h4 class="pull-right"><%= bet.betStatus %></h4>
					<p><strong>Bet Proposed By: </strong><%= betProposal.author.username %></p>
					<p><strong>Stadium: </strong><%= bet.stadium %></p>
					<p><strong>Bet Proposal Amount: </strong><%= betProposal.amount %></p>
					<p><strong>Number of Betters Allowed: </strong><%= betProposal.numberOfBetters %></p>
					<p><strong>Bro's Pick: </strong>
						<% if(betProposal.betPick == "homeWin") { %>
							<%= bet.homeTeamName %> Win
						<% } else if (betProposal.betPick == "awayWin") { %>
							<%= bet.awayTeamName %> Win
						<% } else { %>  
							Draw
						<% } %>
					</p>
					<% if(currentUser && betProposal.author.id.equals(currentUser._id)) {%>
						<a 	
							href="/group-match-bets/<%= bet._id %>/
							group-match-bet-proposals/<%= betProposal._id %>/edit"
							class="btn btn-warning">Edit
						</a>
						<form id="delete-form" 
						action="/group-match-bets/<%= bet._id %>/
						group-match-bet-proposals/<%= betProposal._id %>?_method=DELETE" 
						method="POST">
							<button 
								class="btn btn-danger" 
								type="submit" 
								formaction="/group-match-bets/<%= bet._id %>/
								group-match-bet-proposals/<%= betProposal._id %>?_method=DELETE">
								Delete
							</button>
						</form>
					<% } %>

				</div>
			</div>
			<div class="well">
				<h3>Accepted Bet Picks</h3>
				<% if(currentUser && !betProposal.author.id.equals(currentUser._id)) {%>
					<form 
						action="/group-match-bets/<%= bet._id %>/
								group-match-bet-proposals/<%= betProposal._id %>/
								betpicks/" 
						method=	"POST">
						<select class="form-control" name="betPick">
	                        <option value="homeWin"><%= bet.homeTeamName %> Win</option>
	                        <option value="draw">Draw</option>
	                        <option value="awayWin"><%= bet.awayTeamName %> Win</option>
	                    </select>
	                    <button class="btn btn-success" type="submit" formaction="/group-match-bets/<%= bet._id %>/group-match-bet-proposals/<%= betProposal._id %>/betpicks/">Accept Bet</button>
					</form>
				<% } %>
				<% var count = 0 %>
				<% betProposal.acceptedBetPicks.forEach(function(betPick){ %>
					<% count = count + 1;%>
					<div class="row">
						<div class="col-md-12">
							<p><strong><%= betPick.author.username %></strong></p>
							<p>
								<% if(betPick.betPick == "homeWin") { %>
									<%= bet.homeTeamName %> Win
								<% } else if (betPick.betPick == "awayWin") { %>
									<%= bet.awayTeamName %> Win
								<% } else { %>  
									Draw
								<% } %>
							</p>
							<form 
								action=	"/group-match-bets/<%= bet._id %>/
										group-match-bet-proposals/<%= betProposal._id %>/
										betpicks/<%= betPick._id %>?_method=PUT"
								method=	"POST">
								<select class="form-control" name="betPickEdit">
									<option value="homeWin"><%= bet.homeTeamName %> Win</option>
									<option value="draw">Draw</option>
									<option value="awayWin"><%= bet.awayTeamName %> Win</option>
								</select>
								<input type="text" value="<%= count %>" name="count" hidden="true">
								<button 
									class="btn btn-warning btn-xs" 
									type="submit" 
									formaction="/group-match-bets/<%= bet._id %>/
									group-match-bet-proposals/<%= betProposal._id %>
									/betpicks/<%= betPick._id %>?_method=PUT">
									Edit
								</button>
							</form>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>