<% include partials/header.ejs %>

<h1><%= bet.description %></h1>
<img src="<%= bet.imageURL %>">
<h4><%= bet.date %></h4>
<p><%= bet.betType %></p>

<% bet.comments.forEach(function(comment){ %>
	<p>
		<strong><%= comment.author %></strong> - <%= comment.text %>
	</p>
<% }) %>

<% include partials/footer %>